.text_content {
  margin: 20px;
}

body {
  color: white;
}

.space{
  height: 450px; 
}

body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
